@page "/PostDetails/{postId:int}"
@using Domain.Models;
@using HttpClients.ClientInterfaces
@inject IPostService postService;


@if (post != null)
{
    <div class="post">
    <h3>@post.Title</h3>
        <h4><i>submitted by u/@post.Author.UserName</i></h4>
    <p>@post.Content</p>
    </div>
}
else
{
    <p>Post not found.</p>
}

@code {
    [Parameter]
    public int postId { get; set; }

    private Post post;
    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            post = await postService.GetByIdAsync(postId);

            if (post == null)
            {
                errorMessage = "Post not found.";
            }
        }
        catch(Exception e)
        {
            errorMessage = "There was a problem fetching your post.";
            Console.WriteLine(e);
        }
    }
}