@page "/ViewPosts"
@using global::Domain
@using HttpClients.ClientInterfaces
@using Domain.Models
@using System.Collections
@using System.Text.Json.Serialization
@inject IPostService postService;
@inject IUserService userService;


<div class="header"><h3>Posts</h3></div>


@if (posts == null)
{
}
else if (!posts.Any())
{
    <p>No Posts to display</p>
}
else
{
    <div class="posts">
        @foreach (var item in posts)
        {
            <div class="post">
                <h3><b><a href="/PostDetails/@item.Id">@item.Title</a></b></h3>
                <h4>submitted by u/@item.Author.UserName</h4>
            </div>
        }
    </div>

    
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}

@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await postService.GetAsync();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

    private async Task<User> GetUserById(int authorId)
    {
        User user = await userService.GetByIdAsync(authorId);
        return user;
    }
}